html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #c20808;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.sidebar .nav-link {
    color: white;
    padding: 12px 20px;
    font-size: 20px;
}

.sidebar .nav-link:hover {
    background-color: white;
    color: #c20808;
}

.sidebar .nav-link i {
    margin-right: 10px;
}

.content {
    margin-left: 240px;
    padding: 20px;
    width: 100%;
}
.notification-badge {
    background-color: #fff;
    color: #dc3545;
    border: 1px solid #dc3545;
    transition: all 0.2s ease-in-out;
}


.notification-link:hover .notification-badge {
    background-color: #dc3545;
    color: #fff;
}
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        margin-left: 200px;
    }
}